<div>
    <!--<p>-->
        <!--<input placeholder="name" ng-model="ctrl.newName">-->
    <!--</p>-->
    <!--<p>-->
        <!--<input placeholder="surname" ng-model="ctrl.newSname">-->
    <!--</p>-->
    <!--<p>-->
        <!--<input placeholder="date" type="text" class="datepicker" ng-model="ctrl.newDate">-->
    <!--</p>-->
    <!--<div ng-if="!ctrl.createMode">-->
        <!--<input type="number" placeholder="Book ID" ng-model="ctrl.idAddBook">-->
        <!--<button class="waves-effect waves-light btn" ng-click="ctrl.addBookToAuthor()">ADD</button>-->
        <!--<div>-->
            <!--<ul>-->
                <!--<li ng-repeat="book in ctrl.getAllBooksByID(ctrl.updateUserID)"><span-->
                        <!--style="font-weight: bolder">"{{book.name}}"</span> ID: {{book.id}}-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--<button class="waves-effect waves-light btn" ng-click="ctrl.create()">{{ctrl.createMode ? 'Create' :-->
        <!--'Update'}}-->
    <!--</button>-->
    {{type}}
</div>