<div>
    <p>
        <input placeholder="name" ng-model="authCtrl.author.name">
    </p>
    <p>
        <input placeholder="surname" ng-model="authCtrl.author.sname">
    </p>
    <p>
        <input placeholder="date" type="date" class="datepicker" ng-model="authCtrl.author.date">
    </p>
    <p ng-if="authCtrl.editMode">
        {{authCtrl.author.books}}
    </p>
    <div>
        <button ng-if="authCtrl.dialogType === 'ADD'"
                ng-click="authCtrl.createAuthor()">Create
        </button>
        <button ng-if="authCtrl.dialogType === 'EDIT'"
                ng-click="authCtrl.updateAuthor()">Update
        </button>
    </div>
</div>