<div>
    <h5 ng-click="modalOpen">{{author.name}} {{author.sname}}</h5>
    <h6 ng-if="author.date">Date: {{author.date}}</h6>
    <h6>ID:{{author.id}}</h6>
    <div>
        <ul>
            <li ng-repeat="sbook in subBooks">
                {{sbook.name}}
                <button ng-click="unsubscribeBook(sbook.id)">Unsubscribe Book</button>
            </li>
        </ul>
        <p ng-show="unSubBooks.length > 0">
            <select ng-model="selectUnSubscribeBook">
                <option ng-repeat="usbook in unSubBooks" value="{{usbook.id}}">
                    {{usbook.name}}
                </option>
            </select>
            <button ng-click="subscribeBook()">Add exist book</button>
        </p>
    </div>
    <div>
        <button ng-click="openEditModal()">EDIT</button>
        <button ng-click="openDeleteModal()">DELETE</button>
    </div>
</div>