body {
    background-color: #cccccc;
    font-family: Arial, Sans-Serif;
    margin: 0px auto;
    max-width: 1000px;
    border: solid 4px purple;
}

header {
    display: block;
    background-color: rgb(39, 225, 250);
    color: rgb(250, 56, 56);
    background: url(images/oldbooks.jpg) center bottom;
    height: 270px;
    text-align: center;
}

h1 {
    display: block;
    color: rgb(250, 56, 56);
    background: none;
    text-align: center;
    text-align: center;
}

h3 {
    color: rgb(250, 56, 56);
    text-align: center;
}

nav {
    width: 15%;
    float: left;
    color: rgb(250, 56, 56);
}

nav a:link, nav a:visited {
    display: block;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    margin: 5px;
}

nav a:hover {
    color: rgb(250, 56, 56);
    background-color: rgb(6, 252, 100);
}

section {
    display: block;
    width: 45%;
    float: left;
    margin: 10px;
}

article p {
    margin: 10px;
}

aside {
    float: right;
    width: 25%;

}

aside p {
    margin: 15px;

}

footer {
    clear: both;
    color: black;
    background-color: rgb(250, 56, 56);
    text-align: center;
    padding: 15px;
}

.search-field {
    float: left;
    width: 50%;
}

.user-edit {
    float: right;
    width: 50%;
}
