<nav>
    <div class="nav-wrapper row">
        <div class="input-field col s5">
            <input type="text" placeholder="Please start entering author name..." ng-model="authCtrl.authorSearchValue">
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down col s5">
            <li><a class="waves-effect green darken-2 btn" ng-click="authCtrl.openNewAuthorDialog()">Add New Author</a>
            </li>
            <li><a class="waves-effect blue darken-1 btn" ui-sref="books">BOOKS</a></li>
        </ul>
    </div>
</nav>
<div ng-repeat="ath in authCtrl.authors | filter:authCtrl.authorSearchValue">
    <author-item author="ath" up-list="authCtrl.setAuthors"></author-item>
</div>
<div class="" id="dialog">
    <add-edit-author ng-if="authCtrl.dialogType === 'ADD' || authCtrl.dialogType === 'EDIT'"></add-edit-author>
    <delete-modal
            ng-if="authCtrl.dialogType === 'DELETE'"
            modal-header="authCtrl.modHd()"
            yes-call-back="authCtrl.yesCb"
            action-call-back="authCtrl.actCb">
    </delete-modal>
</div>