<div>
    <button ng-click="ctrl.openFormTrigger()">Create author</button>
</div>
<div ng-if="ctrl.openForm">
    <input placeholder="name" ng-model="ctrl.newName">
    <input placeholder="surname" ng-model="ctrl.newSname">
    <input type="date" ng-model="ctrl.newDate">
    <button ng-click="ctrl.create()">Create</button>
</div>
<h3>Books</h3>
<div>
    <p>Authors search:</p>
    <input ng-model="ctrl.authorNameSearch" ng-change="ctrl.startSearch(event)">
</div>
<div>
    <ul>
        <li>

        </li>
    </ul>
</div>
